{% extends 'base.html' %}

{% block title %}{{ SITENAME }} | {{ category|title }}{{ tag|title }}{% endblock %}
{% block meta_description %}Blog posts related to {{ category }}{{ tag }}{% endblock %}
{% block meta_keywords %}{{ category }}{{ tag }}{% endblock %}

{% block section_title %}
    {% if category %}
        {{ category }}
    {% elif tag %}
        {{ tag }}
    {% else %}
        All Posts
    {% endif %}
{% endblock %}

{% block content %}
<img src="images/logo.jpg" alt="logo">
{% endblock %}
