{% extends 'base.html' %}

{% block title %}{{ SITENAME }} | verhuur licht en geluid{% endblock %}
{% block meta_description %} lns-events verhuur van licht en geluid {% endblock %}
{% block meta_keywords %}{{ category }}{{ tag }}{% endblock %}

{% block section_title %}
    {% if category %}
        {{ category }}
    {% elif tag %}
        {{ tag }}
    {% else %}
        All Posts
    {% endif %}
{% endblock %}

{% block content %}
<img src="../theme/images/frontpage.png" alt="logo">
{% endblock %}
